In [12]:
import plotly.express as px
from src.config import df, ordered_p25_list, p25_question_map, p25_tag_map
from src.charts.plotly import create_0_to_10_percentage_bar_chart2
from src.config import p32_tag_map, df
import plotly.colors as pc
import matplotlib.pyplot as plt
import pandas as pd

,elkar,inkes,lurral,tfno,P0A,P0B,P01,P02,P03,P04,...,p36,p37,p38,p39,p40,p41,p42,p43,p44,wt
0,1,813,1,1,3,59,2,79,5,3,...,5,2,3,2,5,4,2,4,1,",443896196814171"
1,2,606,1,1,3,999,2,71,5,2,...,5,2,3,1,1,4,2,4,1,"1,44819840136382"
2,3,46,1,1,3,2,2,61,2,3,...,4,3,3,2,1,4,2,4,1,"1,44819840136382"
3,4,379,1,1,3,59,2,68,5,4,...,5,2,3,2,5,4,2,4,1,",443896196814171"
4,5,813,1,1,3,59,2,24,1,2,...,1,5,1,7,5,4,2,4,1,",416305338826238"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3025,3026,875,3,2,1,29,1,54,1,2,...,1,5,2,2,3,4,1,1,4,",704786608069506"
3026,3027,881,3,2,3,69,2,55,1,3,...,3,5,2,2,3,4,2,2,4,",670823249215344"
3027,3028,339,3,2,3,9,2,80,5,3,...,3,3,2,1,3,4,2,2,4,",598298411061412"
3028,3029,365,3,1,3,902,2,75,5,2,...,2,5,3,2,3,4,2,4,1,",502820663271048"
3029,3030,881,3,1,3,45,1,60,1,5,...,3,5,2,1,3,4,1,4,1,",598298411061412"

In [18]:
long_df =

ValueError: Value of 'y' is not the name of a column in 'data_frame'. Expected one of ['elkar', 'inkes', 'lurral', 'tfno', 'P0A', 'P0B', 'P01', 'P02', 'P03', 'P04', 'P05', 'P06', 'P07', 'P0801', 'P0802', 'P0803', 'P0901', 'P0902', 'P0903', 'p10', 'p11', 'p12', 'p13', 'p14', 'p15', 'p16', 'p17', 'p18', 'p19', 'p20', 'p21', 'p22', 'p2301', 'p2302', 'p2303', 'p2401', 'p2402', 'p2403', 'p2501', 'p2502', 'p2503', 'p2504', 'p2505', 'p2506', 'p26A01', 'p26A02', 'p26A03', 'p26A04', 'p26A05', 'p26A06', 'p26B01', 'p26B02', 'p26B03', 'p26B04', 'p26B05', 'p26B06', 'p27', 'p28', 'p29', 'p3001', 'p3002', 'p3003', 'p3004', 'p3005', 'p3101', 'p3102', 'p3103', 'p32', 'p33', 'p34', 'p35', 'p36', 'p37', 'p38', 'p39', 'p40', 'p41', 'p42', 'p43', 'p44', 'wt'] but received: count